<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

{% include head.html %}

<body>

    {% include topnav.html %}

    <div class="page-content" style="width: 61.8%; margin: auto;">
        <div class="wrapper">
            {{ content }}
            <a href="/" class="back-to-home">HOME</a>
        </div>
    </div>

    {% include footer.html %}
    {% include js_files.html %}
</body>

</html>
